.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: rgb(83, 158, 228);
}

#contact {
    background-color: rgb(243, 244, 245);
}

footer{
    background-color:rgb(83, 158, 228) ;
}

section{
    padding-top: 5rem;
}